In [ ]:
import os
import pandas as pd

base_path = os.path.abspath('.')

def get_data_by_years(years, names=None, add_year=False):
    df = pd.DataFrame()
    for year in years:
        full_path = os.path.join(base_path, 'data\yob{}.txt'.format(str(year)))
        df1 = pd.read_csv(full_path, names=names)
        if add_year:
            df1['year'] = year
        df = df.append(df1, ignore_index=True)
    return df


def get_top3_count(years, top=3):
    df = get_data_by_years(years, names=['name', 'gender', 'count'])
    return df.groupby(['name', 'gender']).sum().sort_values(['count'], ascending=False)[:top]


def get_count_dynamics(years):
    df = get_data_by_years(years, names=['name', 'gender', 'count'], add_year=True)
    return df.pivot_table(['count'], ['gender'], ['year'], aggfunc='sum')

In [61]:
years = [2000,]
df = get_top3_count(years)

In [62]:
df.head()

               count
name   gender
Emma   F       19800
Liam   M       18798
Olivia F       18703

In [63]:
years=[2016, 2018]
df1 = get_top3_count(years)
df1

             count
name gender
Liam M       38635
Emma F       38488
Noah M       36677

In [64]:
df2 = get_count_dynamics(years)

In [65]:
df2

          count
year       2017     2018
gender
F       1719138  1686961
M       1842837  1800392